<ion-view view-title="资讯页" hide-tabs="true">
  <ion-content class="news-content">
  	<div class="news-head">
  		<h2 class="news-head-title">{{newsData.title}}</h2>
      <p class="news-head-copyfrom">{{newsData.copyfrom}}</p>
  		<div class="news-head-list">
  			<p>{{newsData.inputtime}}</p>
  			<p>阅读：{{newsData.clicks}}</p>
  		</div>
      <img src="{{newsData.pic}}" class="news-head-pic" ng-if="isPicShow">
  	</div>
  	<main class="news-page" ng-bind-html="newsData.content"></main>
  	<div class="news-bottom">
      <div class="news-tag">
        <p ng-repeat="data in newsData.tags">{{data}}</p>
      </div>
  		<p class="news-author">编辑：{{newsData.author}}</p>
  	</div>
  </ion-content>
</ion-view>
