<ion-view view-title="资讯页" hide-tabs="true">
  <div class="titleLogo"><img src="img/WLWlogo.png"><p>国脉物联网</p></div>
  <ion-content class="news-content">
  	<div class="news-head">
  		<h2 class="news-head-title">{{newsData.title}}</h2>
  		<div class="news-head-list">
        <p>{{newsData.inputtime}}</p>
        <p>{{newsData.copyfrom}}</p>
  			<p>阅读：{{newsData.clicks}}</p>
  		</div>
      <img src="{{data.path}}" ng-repeat="data in newsData.thumb" class="news-head-pic" ng-if="isPicShow">
  	</div>
  	<main class="news-page" ng-bind-html="newsData.content"></main>
  	<div class="news-bottom">
      <div class="news-tag">
        <p>{{newsData.tagsname}}</p>
      </div>
  		<p class="news-author">编辑：{{newsData.author}}</p>
  	</div>
    <div class="news-footer">
      <div ng-include="'templates/footer.html'"></div>
    </div>
  </ion-content>
</ion-view>
