<ion-view view-title="方案页" hide-tabs="true">
  <div class="titleLogo"><img src="img/WLWlogo.png"><p>国脉物联网</p></div>
  <ion-content class="project-content">
    <div class="project-head">
      <h2 class="project-head-title">{{projectData.title}}</h2>
      <div class="project-head-list">
        <p>{{projectData.inputtime}}</p>
        <p>{{projectData.copyfrom}}</p>
        <p>阅读：{{projectData.clicks}}</p>
      </div>
    </div>
    <div class="project-table">
      <div id="project-table" class="{{ projectTable === true ? 'open' : 'close' }}">
        <ul>
          <li class="project-table-subname"><p>{{tableTitle.attachment}}</p></li>
          <li class="project-table-content" ng-click="showTable(tableTitle.attachment,projectData.attachment)">{{projectData.attachment}}</li>
        </ul>
        <ul>
          <li class="project-table-subname"><p>{{tableTitle.investment}}</p></li>
          <li class="project-table-subcontent" ng-click="showTable(tableTitle.investment,projectData.investment)">{{projectData.investment}}</li>
          <li class="project-table-name"><p>{{tableTitle.benefit}}</p></li>
          <li class="project-table-subcontent" ng-click="showTable(tableTitle.benefit,projectData.benefit)">{{projectData.benefit}}</li>
        </ul>
        <ul>
          <li class="project-table-subname"><p>{{tableTitle.advantage}}</p></li>
          <li class="project-table-content" ng-click="showTable(tableTitle.advantage,projectData.advantage)">{{projectData.advantage}}</li>
        </ul>
        
        <ul>
          <li class="project-table-subname"><p>{{tableTitle.effect}}</p></li>
          <li class="project-table-content" ng-click="showTable(tableTitle.effect,projectData.effect)">{{projectData.effect}}</li>
        </ul>
        <ul>
          <li class="project-table-subname"><p>{{tableTitle.range}}</p></li>
          <li class="project-table-subcontent" ng-click="showTable(tableTitle.range,projectData.range)">{{projectData.range}}</li>
          <li class="project-table-name"><p>{{tableTitle.difficulty}}</p></li>
          <li class="project-table-subcontent" ng-click="showTable(tableTitle.difficulty,projectData.difficulty)">{{projectData.difficulty}}</li>
        </ul>
        <ul>
          <li class="project-table-subname"><p>{{tableTitle.place}}</p></li>
          <li class="project-table-content" ng-click="showTable(tableTitle.place,projectData.place)">{{projectData.place}}</li>
        </ul>
        <div class="project-table-show" ng-if=(isShow) ng-click="hideTable()">
          <div id="project-table-show" class="{{ isTableShow === true ? 'open' : 'close' }}">
            <h3>{{titleShow}}：</h3>
            <p>{{tableShow}}</p>
          </div>
        </div>
      </div>
      <div class="change-button" ng-click="toBeLong()">
        <p class="change-button-decoration-left"></p>
        <p class="change-button-content-left">
          <label ng-if="openButton">展</label>
          <label ng-if="closeButton">关</label>
        </p>
        <p class="change-button-decoration-right"></p>
        <p class="change-button-content-right">
          <label ng-if="openButton">开</label>
          <label ng-if="closeButton">闭</label>
        </p>
        </div>
    </div>
    <main class="project-page" ng-bind-html="projectData.content"></main>
    <div class="project-bottom">
      <div class="project-tag">
        <p>{{projectData.tagsname}}</p>
      </div>
      <p class="project-author">编辑：{{projectData.author}}</p>
    </div>
    <div class="project-footer">
      <div ng-include="'templates/footer.html'"></div>
    </div>
  </ion-content>
</ion-view>
