<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': $root.hideTabs}">

  <!-- news Tab -->
  <ion-tab title="资讯" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/news">
    <ion-nav-view name="News"></ion-nav-view>
  </ion-tab>
  <!-- project Tab -->
  <ion-tab title="方案" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/project">
    <ion-nav-view name="Project"></ion-nav-view>
  </ion-tab>
  <!-- special Tab -->
  <ion-tab title="方案" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/special">
    <ion-nav-view name="Special"></ion-nav-view>
  </ion-tab>

</ion-tabs>
