.footer {
	margin-bottom: 8px;
}

.footer > img {
	width: 100%
}

.footerExplain {
	background-color: #eee;
	padding: 0 5px;
	margin-bottom: 0;
	line-height: 1.5;
	font-size: 12px;
	color: #999;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.footerExplainDisplay {
	background-color: #eee;
	padding: 0 5px;
	margin-bottom: 0;
	line-height: 1.5;
	font-size: 12px;
	color: #999;
}