.news-content {
	background-color: #eee;
}

.news-head {
	padding: 15px 15px 10px 15px;
	background-color: #fff;
}

.news-head-title {
	font-size: 18px;
	font-weight: 700;
	color: #666;
	padding-bottom: 10px;
}

.news-head-copyfrom {
	margin-bottom: 5px;
	color: #666;
}

.news-head-list {
	overflow: auto;
}

.news-head-list > p {
	float: left;
	margin-right: 15px;
	font-size: 14px;
	color: #666;
}

.news-head-list > p:last-of-type {
	float: right;
	margin: 0;
}

.news-head-pic {
	width: 100%;
	height: auto;
}

.news-page {
	margin-top: 8px;
	background-color: #fff;
	font-size: 16px;
	line-height: 1.5;
	padding: 15px;
}

.news-page img {
	width: 100%;
	height: auto;
}

.news-bottom {
	background-color: #fff;
	overflow: auto;
	padding: 15px;
	padding-top: 0;
}

.news-tag {
	overflow: auto;
	float: left;
}

.news-tag > p{
	float: left;
	border: 1px solid #ddd;
	background-color: #eee;
	padding: 3px 10px;
	border-radius: 10px;
	margin-right: 5px;
	font-size: 12px;
	color: #666;
}

.news-author {
	float: right;
	font-size: 14px;
	color: #666;
	padding-top: 2px;
}